p {font-family:Arial;}
h1 {color: maroon;}
.title{color: teal;}
.uppercase{text-transform: uppercase;}
#article-title{font-family: cursive;
text-transform: capitalize;}
.publish-time{color: gray;}
I learned the difference between using CSS tags, ID's and classes to style the HTML text
