p {font-family:Arial;}
h1 {color: maroon;}
.title{color: teal;}
.uppercase{text-transform: uppercase;}
.publish-time{color: gray;}
.cursive{font-family: cursive;}
.capitalize{text-transform: capitalize;}
I learned to use specificity to make it easier to edit the CSS stylesheet later
